<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load staticfiles %}
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Satisfy" >
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'home/images/icons/favicon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'home/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'home/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'home/fonts/themify/themify-icons.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'home/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'home/fonts/elegant-font/html-css/style.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'home/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'home/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'home/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'home/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'home/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'home/vendor/slick/slick.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'home/vendor/lightbox2/css/lightbox.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/main.css' %}">
<!--===============================================================================================-->

    <title>{% block title %}{% endblock %}</title>
</head>

<body class="animsition">
    <!-- Header -->
	<header class="header1">
		<!-- Header desktop -->
		<div class="container-menu-header">
			<!--<div class="topbar">-->
				<!--<div class="topbar-social">-->
					<!--<a href="#" class="topbar-social-item fa fa-facebook"></a>-->
					<!--<a href="#" class="topbar-social-item fa fa-instagram"></a>-->
					<!--<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>-->
					<!--<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>-->
					<!--<a href="#" class="topbar-social-item fa fa-youtube-play"></a>-->
				<!--</div>-->

				<!--<span class="topbar-child1">-->
					<!--Get all football News at one place-->
				<!--</span>-->

				<!--<div class="topbar-child2">-->
					<!--<span class="topbar-email">-->
						<!--diivanshu@gmail.com-->
					<!--</span>-->
				<!--</div>-->
			<!--</div>-->

			<div class="wrap_header">
				<!-- Logo -->
				<a href="index.html" class="logo">
					<img src="{% static 'home/images/icons/logo.png' %}" alt="IMG-LOGO">
				</a>

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li>
								<a href="{% url 'start_page' %}">Home</a>
								<!--<ul class="sub_menu">-->
									<!--<li><a href="{% url 'start_page' %}">Homepage V1</a></li>-->
									<!--<li><a href="home-02.html">Homepage V2</a></li>-->
									<!--<li><a href="home-03.html">Homepage V3</a></li>-->
								<!--</ul>-->
							</li>

							<li>
								<a href="{% url 'home' %}">Africa Cup</a>
							</li>

							<!--<li class="sale-noti">-->
							<li>
								<a href="{% url 'soon' %}">World Cup</a>
							</li>

							<li>
								<a href="{% url 'soon' %}">LaLiga</a>
							</li>

							<li>
								<a href="{% url 'soon' %}">Premier League</a>
							</li>

							<li>
								<a href="{% url 'soon' %}">Serie A</a>
							</li>

							<li>
								<a href="{% url 'soon' %}">UEFA</a>
							</li>

							<li>
								<a href="{% url 'soon' %}">Football live</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
			<a href="{% url 'start_page' %}" class="logo-mobile">
				<img src="{% static 'home/images/icons/logo.png' %}" alt="IMG-LOGO">
			</a>

			<!-- Button show menu -->
			<div class="btn-show-menu">
				<!-- Header Icon mobile -->
				<!--<div class="header-icons-mobile">-->
					<!--<a href="#" class="header-wrapicon1 dis-block">-->
						<!--<img src="{% static 'home/images/icons/icon-header-01.png' %}" class="header-icon1" alt="ICON">-->
					<!--</a>-->

					<!--<span class="linedivide2"></span>-->

					<!--<div class="header-wrapicon2">-->
						<!--<img src="{% static 'home/images/icons/icon-header-02.png' %}" class="header-icon1 js-show-header-dropdown" alt="ICON">-->
						<!--<span class="header-icons-noti">0</span>-->

						<!--&lt;!&ndash; Header cart noti &ndash;&gt;-->
						<!--<div class="header-cart header-dropdown">-->
							<!--<ul class="header-cart-wrapitem">-->
								<!--<li class="header-cart-item">-->
									<!--<div class="header-cart-item-img">-->
										<!--<img src="{% static 'home/images/item-cart-01.jpg' %}" alt="IMG">-->
									<!--</div>-->

									<!--<div class="header-cart-item-txt">-->
										<!--<a href="#" class="header-cart-item-name">-->
											<!--White Shirt With Pleat Detail Back-->
										<!--</a>-->

										<!--<span class="header-cart-item-info">-->
											<!--1 x $19.00-->
										<!--</span>-->
									<!--</div>-->
								<!--</li>-->

								<!--<li class="header-cart-item">-->
									<!--<div class="header-cart-item-img">-->
										<!--<img src="{% static 'home/images/item-cart-02.jpg' %}" alt="IMG">-->
									<!--</div>-->

									<!--<div class="header-cart-item-txt">-->
										<!--<a href="#" class="header-cart-item-name">-->
											<!--Converse All Star Hi Black Canvas-->
										<!--</a>-->

										<!--<span class="header-cart-item-info">-->
											<!--1 x $39.00-->
										<!--</span>-->
									<!--</div>-->
								<!--</li>-->

								<!--<li class="header-cart-item">-->
									<!--<div class="header-cart-item-img">-->
										<!--<img src="{% static 'home/images/item-cart-03.jpg' %}" alt="IMG">-->
									<!--</div>-->

									<!--<div class="header-cart-item-txt">-->
										<!--<a href="#" class="header-cart-item-name">-->
											<!--Nixon Porter Leather Watch In Tan-->
										<!--</a>-->

										<!--<span class="header-cart-item-info">-->
											<!--1 x $17.00-->
										<!--</span>-->
									<!--</div>-->
								<!--</li>-->
							<!--</ul>-->

							<!--<div class="header-cart-total">-->
								<!--Total: $75.00-->
							<!--</div>-->

							<!--<div class="header-cart-buttons">-->
								<!--<div class="header-cart-wrapbtn">-->
									<!--&lt;!&ndash; Button &ndash;&gt;-->
									<!--<a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">-->
										<!--View Cart-->
									<!--</a>-->
								<!--</div>-->

								<!--<div class="header-cart-wrapbtn">-->
									<!--&lt;!&ndash; Button &ndash;&gt;-->
									<!--<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">-->
										<!--Check Out-->
									<!--</a>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->

				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu">
					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<span class="topbar-child1">
							Get all football News at one place
						</span>
					</li>

					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<div class="topbar-child2-mobile">
							<span class="topbar-email">
								diivanshu@gmail.com
							</span>
						</div>
					</li>

					<li class="item-topbar-mobile p-l-10">
						<div class="topbar-social-mobile">
							<a href="#" class="topbar-social-item fa fa-facebook"></a>
							<a href="#" class="topbar-social-item fa fa-instagram"></a>
							<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
							<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
							<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
						</div>
					</li>

					<li class="item-menu-mobile">
						<a href="{ url 'start_page' %}">Home</a>
						<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
					</li>

					<li class="item-menu-mobile">
						<a href="{% url 'home' %}">Africa Cup</a>
					</li>

					<li class="item-menu-mobile">
						<a href="{% url 'soon' %}">World Cup</a>
					</li>

					<li class="item-menu-mobile">
						<a href="{% url 'soon' %}">LaLiga</a>
					</li>

					<li class="item-menu-mobile">
						<a href="{% url 'soon' %}">Premier League</a>
					</li>

					<li class="item-menu-mobile">
						<a href="{% url 'soon' %}">Serie A</a>
					</li>

					<li class="item-menu-mobile">
						<a href="{% url 'soon' %}">UEFA</a>
					</li>

					<li>
						<a href="{% url 'soon' %}">Football live</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
    {% block content %}{% endblock %}
    {% block content2 %}{% endblock %}
    {% block content3 %}{% endblock %}
    {% block content4 %}{% endblock %}
    {% block content5 %}{% endblock %}
    <!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection1 -->
	<div id="dropDownSelect1"></div>



<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'home/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'home/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'home/vendor/bootstrap/js/popper.js' %}"></script>
	<script type="text/javascript" src="{% static 'home/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'home/vendor/select2/select2.min.js' %}"></script>
	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'home/vendor/slick/slick.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'home/js/slick-custom.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'home/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'home/vendor/lightbox2/js/lightbox.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'home/vendor/sweetalert/sweetalert.min.js' %}"></script>
	<script type="text/javascript">
		$('.block2-btn-addcart').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});

		$('.block2-btn-addwishlist').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");
			});
		});
	</script>

<!--===============================================================================================-->
	<script src="{% static 'home/js/main.js' %}"></script>

</body>
</html>